.sliderContent h1 {
	font-size: 23px;
	font-weight: bold;
	font-style: italic;
}

.sliderContent h2 {
	font-size: 18px;
}


.sliderContent{
	color: gray;
	/*
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	*/
}


.advertisiment{
	background-color: grey;
	border-radius: 15px;	
}
